.alert-info {
    text-align: center;
    background-color: #ccffff;
    padding: 2em;
}

h1 {
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    .header-img img{
        width: 100%;
    }
}
.nav-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 1em;
}


