.alert-info {
    text-align: center;
    background-color: #ccffff;
    padding: 2em;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer p{
    display: flex;
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
}

.header-img img{
    width: 100%;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
}

.nav-links li{
    display: flex;
    flex-direction: column;
    margin: 10px;
    list-style: none;
    padding: 1em;
    border: 2px;
    background: lightgrey;
    align-items: center;
    text-decoration: underline;
}

.sub-section {
    font-style: italic;
}

@media screen and (min-width: 992px){
    .alert-info{
        display: none;
    }
    h1{
       position: absolute;
        top: 0;
        left: 0.5em;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    .nav-links li{
        display: flex;
        flex-direction: row;
        background-color: white;
        padding: initial;
    }
    .main {
        float: left;
        width: 50%;
        margin-bottom: 10em;
    }

    .sub-section {
        float: right;
        width: 50%;
        margin-bottom: 10em;
    }
    .header-img img {
       width: 100%;
    }
    footer p {
        position: fixed;
        bottom: 1em;
        left: 1em;
    }
    #social-media-links {
        position: fixed;
        bottom: 1em;
        right: 1em;
    }
}


